{% comment %}Generated from collections/submariner-gmt.html{% endcomment %}
<h1>{{ collection.title }}</h1>
{% for product in collection.products %}
  <div><a href='{{ product.url }}'>{{ product.title }}</a></div>
{% endfor %}
