{% comment %}Generated from collections/shop-all7d84.html{% endcomment %}
<h1>{{ collection.title }}</h1>
{% for product in collection.products %}
  <div><a href='{{ product.url }}'>{{ product.title }}</a></div>
{% endfor %}
