<div class="color-scheme color-scheme--scheme-1 color-scheme--bg-54922f2e920ba8346f6dc0fba343d673 section-spacing bordered-section"><div class="container container--sm"><div class="prose text-center"><p class="h5">Tag us
        <strong>@moddys.watches
        </strong>and get featured!
       </p></div></div></div> {% schema %} {"tag":"section","name":"section-13","class":"shopify-section shopify-section-group-footer-group shopify-section--rich-text","presets":[{"name":"section-13","category":"Liquify","blocks":[]}]} {% endschema %}