<div class="color-scheme color-scheme--scheme-1 color-scheme--bg-54922f2e920ba8346f6dc0fba343d673 section-spacing bordered-section"><div class="container container--xs"><div class="prose text-center"><p class="h6">SEIKO MOD
       </p><p class="h1">COLLECTIONS
       </p></div></div></div> {% schema %} {"tag":"section","name":"section-3","class":"shopify-section shopify-section--rich-text","presets":[{"name":"section-3","category":"Liquify","blocks":[]}]} {% endschema %}