<div class="section-spacing color-scheme color-scheme--scheme-1 color-scheme--bg-54922f2e920ba8346f6dc0fba343d673 bordered-section"><div class="container container--md"><div class="section-stack"><div class="section-header justify-self-center text-center"><div class="prose"><p class="h6">Need help?
         </p><h2 class="h2">Frequently Asked Questions
         </h2></div></div><div class="faq"><div class="faq__content"><details aria-expanded="false" class="accordion group" is="accordion-disclosure"><summary><span class="accordion__toggle text-lg"><span class="text-with-icon gap-4">What is a Seiko Mod?
            </span><span aria-hidden="true" class="animated-plus group-expanded:rotate"></span></span></summary><div class="accordion__content"><div class="prose"><p>A Seiko Mod is a
             <strong>special watch
             </strong>hand-assembled from a prestigious
             <strong>Seiko automatic movement
             </strong>, combined with high-quality aftermarket parts, usually made of 316L stainless steel.
            </p><p><strong>Have you ever dreamed of acquiring your ideal timepiece?
             </strong>The purpose of Seiko mods is to bring the designs of luxury watches to a wider audience without resorting to counterfeit products, and by always using the best materials, such as sapphire crystal or ceramic bezels.
            </p></div></div></details><details aria-expanded="false" class="accordion group" is="accordion-disclosure"><summary><span class="accordion__toggle text-lg"><span class="text-with-icon gap-4">Can I adjust the size myself?
            </span><span aria-hidden="true" class="animated-plus group-expanded:rotate"></span></span></summary><div class="accordion__content"><div class="prose"><p>We include (for free) a
             <strong>complimentary tool kit
             </strong>with every order to help you adjust the strap properly and easy.
            </p></div></div></details><details aria-expanded="false" class="accordion group" is="accordion-disclosure"><summary><span class="accordion__toggle text-lg"><span class="text-with-icon gap-4">Shipping time and costs
            </span><span aria-hidden="true" class="animated-plus group-expanded:rotate"></span></span></summary><div class="accordion__content"><div class="prose"><p>The time taken for the entire order process, from assembling to  delivery,
             <strong>is 7-15 working days
             </strong>(Monday-Friday).
            </p><p>About the cost, shipping is
             <strong>totally free
             </strong>, and we have
             <strong>also included your country's import duties in the price, so you won’t incur any additional charges or fees during the delivery of your watch. - We handle all costs a processes -
             </strong></p><p><strong>Please note that delivery times may vary depending on the destination country.
             </strong></p></div></div></details><details aria-expanded="false" class="accordion group" is="accordion-disclosure"><summary><span class="accordion__toggle text-lg"><span class="text-with-icon gap-4">Is it possible to remove the Seiko logo?
            </span><span aria-hidden="true" class="animated-plus group-expanded:rotate"></span></span></summary><div class="accordion__content"><div class="prose"><p><strong>Absolutely.
             </strong>We provide the flexibility to customise your watch according to your preferences, including the option to
             <strong>remove the Seiko mark.
             </strong></p><p><strong>Please include your specific requirements in notes when placing your order.
             </strong></p></div></div></details><details aria-expanded="false" class="accordion group" is="accordion-disclosure"><summary><span class="accordion__toggle text-lg"><span class="text-with-icon gap-4">Can I design my own watch?
            </span><span aria-hidden="true" class="animated-plus group-expanded:rotate"></span></span></summary><div class="accordion__content"><div class="prose"><p>You can choose/customise your bracelet, case, dial, hands, and even add
             <strong>your own logo or initials.
             </strong></p><p>If you want a personalised watch, please contact us on
             <a href="https://api.whatsapp.com/send/?phone=%2B447474270616&text&type=phone_number&app_absent=0" target="_blank" title="https://api.whatsapp.com/send/?phone=%2B447474270616&text&type=phone_number&app_absent=0"><strong>WhatsApp
              </strong></a>to discuss your options with one of our watchmakers.
            </p></div></div></details><details aria-expanded="false" class="accordion group" is="accordion-disclosure"><summary><span class="accordion__toggle text-lg"><span class="text-with-icon gap-4">Are they original?
            </span><span aria-hidden="true" class="animated-plus group-expanded:rotate"></span></span></summary><div class="accordion__content"><div class="prose"><p>We use
             <strong>genuine Seiko movements
             </strong>to create unique watches inspired by top designs.
            </p><p>Our timepieces are
             <strong>not replicas
             </strong>and we are
             <strong>not affiliated with the Seiko brand in any way.
             </strong></p></div></div></details></div></div></div></div></div><script type="application/ld+json">{
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
            "@type": "Question",
            "name": "What is a Seiko Mod?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "\u003cp\u003eA Seiko Mod is a \u003cstrong\u003especial watch\u003c\/strong\u003e hand-assembled from a prestigious&nbsp;\u003cstrong\u003eSeiko automatic movement\u003c\/strong\u003e, combined with high-quality aftermarket parts, usually made of 316L stainless steel.&nbsp;\u003c\/p\u003e\u003cp\u003e\u003cstrong\u003eHave you ever dreamed of acquiring your ideal timepiece? \u003c\/strong\u003eThe purpose of Seiko mods is to bring the designs of luxury watches to a wider audience without resorting to counterfeit products, and by always using the best materials, such as sapphire crystal or ceramic bezels.\u003c\/p\u003e"
            }
          },
{
            "@type": "Question",
            "name": "Can I adjust the size myself?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "\u003cp\u003eWe include (for free) a \u003cstrong\u003ecomplimentary tool kit\u003c\/strong\u003e with every order to help you adjust the strap properly and easy.\u003c\/p\u003e"
            }
          },
{
            "@type": "Question",
            "name": "Shipping time and costs",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "\u003cp\u003eThe time taken for the entire order process, from assembling to  delivery, \u003cstrong\u003eis 7-15 working days\u003c\/strong\u003e (Monday-Friday).\u003c\/p\u003e\u003cp\u003eAbout the cost, shipping is \u003cstrong\u003etotally free\u003c\/strong\u003e, and we have \u003cstrong\u003ealso included your country's import duties in the price, so you won&rsquo;t incur any additional charges or fees during the delivery of your watch. - We handle all costs a processes -\u003c\/strong\u003e\u003c\/p\u003e\u003cp\u003e\u003cstrong\u003ePlease note that delivery times may vary depending on the destination country.\u003c\/strong\u003e\u003c\/p\u003e"
            }
          },
{
            "@type": "Question",
            "name": "Is it possible to remove the Seiko logo?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "\u003cp\u003e\u003cstrong\u003eAbsolutely.\u003c\/strong\u003e We provide the flexibility to customise your watch according to your preferences, including the option to \u003cstrong\u003eremove the Seiko mark.\u003c\/strong\u003e \u003c\/p\u003e\u003cp\u003e\u003cstrong\u003ePlease include your specific requirements in notes when placing your order.\u003c\/strong\u003e\u003c\/p\u003e"
            }
          },
{
            "@type": "Question",
            "name": "Can I design my own watch?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "\u003cp\u003eYou can choose\/customise your bracelet, case, dial, hands, and even add \u003cstrong\u003eyour own logo or initials.\u003c\/strong\u003e\u003c\/p\u003e\u003cp\u003eIf you want a personalised watch, please contact us on \u003ca href=\"https:\/\/api.whatsapp.com\/send\/?phone=%2B447474270616\u0026text\u0026type=phone_number\u0026app_absent=0\" target=\"_blank\" title=\"https:\/\/api.whatsapp.com\/send\/?phone=%2B447474270616\u0026text\u0026type=phone_number\u0026app_absent=0\"\u003e\u003cstrong\u003eWhatsApp\u003c\/strong\u003e\u003c\/a\u003e to discuss your options with one of our watchmakers.\u003c\/p\u003e"
            }
          },
{
            "@type": "Question",
            "name": "Are they original?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "\u003cp\u003eWe use \u003cstrong\u003egenuine Seiko movements\u003c\/strong\u003e to create unique watches inspired by top designs. \u003c\/p\u003e\u003cp\u003eOur timepieces are \u003cstrong\u003enot replicas \u003c\/strong\u003eand we are \u003cstrong\u003enot affiliated with the Seiko brand in any way.\u003c\/strong\u003e\u003c\/p\u003e"
            }
          }
]
    }
    </script> {% schema %} {"tag":"section","name":"section-8","class":"shopify-section shopify-section--faq","presets":[{"name":"section-8","category":"Liquify","blocks":[]}]} {% endschema %}