<style>.content-over-media
  > video-media:not([autoplay])[loaded]
  ~ :not(img, video, iframe, svg, video-media, picture) {
  opacity: 1 !important;
  visibility: visible !important;
}
  .content-over-media>video-media:not([autoplay])~:not(img,video,iframe,svg,video-media,picture) {
    pointer-events: auto !important;
}
  video-media::part(play-button) {
    top: 80% !important;
}
    </style><slideshow-carousel allow-swipe="" allow-transparent-header="" autoplay="5" autoplay-pause-on-video="" cell-selector=".slideshow__slide" class="slideshow" id="carousel-template--25934132674900__slideshow" role="region" style="--background: 0 0 0 ; background-color: rgb(var(--background));--border-color: var(--text-color) / 0.15;"><div class="slideshow__slide is-selected" media-type="video" reveal-on-scroll="true" role="group"><div class="content-over-media content-over-media--auto" style="--content-over-media-content-max-width: 780px; --content-over-media-gradient-overlay: linear-gradient(180deg, rgba(54, 54, 54, 0.2), rgba(4, 4, 4, 0.65) 100%)"><video-media autoplay="" class="hidden sm:block" style="--aspect-ratio: 1.775; --play-button-background: #ffffff" type="video"><video loop="loop" muted="muted" playsinline="true" poster="cdn/shop/files/preview_images/542849adceb24d0b9724a2e4d05a93ae.thumbnail.0000000000_400xfa49.jpg?v=1741780331" preload="metadata"><source src="{{ '542849adceb24d0b9724a2e4d05a93ae.HD-1080p-4.8Mbps-44037579a4f0.mp4?v=0' | asset_url }}" type="video/mp4">
<img src="{{ '542849adceb24d0b9724a2e4d05a93ae.thumbnail.0000000000_400xfa49.jpg?v=1741780331' | asset_url }}">
</video></video-media><video-media autoplay="" class="sm:hidden" style="--aspect-ratio: 0.563; --play-button-background: #ffffff" type="video"><video loop="loop" muted="muted" playsinline="true" poster="cdn/shop/files/preview_images/0c071b5d912643d48bcb82481747ff42.thumbnail.0000000000_400x6c9c.jpg?v=1741865639" preload="metadata"><source src="{{ '0c071b5d912643d48bcb82481747ff42.HD-1080p-7.2Mbps-44105685a4f0.mp4?v=0' | asset_url }}" type="video/mp4">
<img src="{{ '0c071b5d912643d48bcb82481747ff42.thumbnail.0000000000_400x6c9c.jpg?v=1741865639' | asset_url }}">
</video></video-media><div class="slideshow__slide-content place-self-end-start text-start sm:place-self-end-start sm:text-start" style="--text-color: 255 255 255; color: rgb(var(--text-color));--border-color: var(--text-color) / 0.15;"><div class="prose"><p class="h6">PREMIUM HOROLOGY
         </p><p class="h1">CREATE YOUR UNIQUE CUSTOM PIECE
         </p><div class="button-group button-group--same-width justify-start sm:justify-start"><a class="button" href="collections/configurator.html" style="--button-background: 255 255 255;--button-outline-color: 255 255 255;--button-text-color: 0 0 0;">CONFIGURATOR
          </a><a class="button button--outline" href="collections/shop-all.html" style="--button-background: 255 255 255;--button-outline-color: 255 255 255;--button-text-color: 0 0 0;">SHOP ALL
          </a></div></div></div></div></div></slideshow-carousel> {% schema %} {"tag":"section","name":"section-1","class":"shopify-section shopify-section--slideshow","presets":[{"name":"section-1","category":"Liquify","blocks":[]}]} {% endschema %}