<style>.content-over-media
  > video-media:not([autoplay])[loaded]
  ~ :not(img, video, iframe, svg, video-media, picture) {
  opacity: 1 !important;
  visibility: visible !important;
}
  .content-over-media>video-media:not([autoplay])~:not(img,video,iframe,svg,video-media,picture) {
    pointer-events: auto !important;
}
  video-media::part(play-button) {
    top: 80% !important;
}
    </style><slideshow-carousel allow-swipe="" allow-transparent-header="" autoplay="5" autoplay-pause-on-video="" cell-selector=".slideshow__slide" class="slideshow" id="carousel-template--25934132674900__slideshow_8pXRjB" role="region" style="--background: 0 0 0 ; background-color: rgb(var(--background));--border-color: var(--text-color) / 0.15;"><div class="slideshow__slide is-selected" media-type="image" reveal-on-scroll="true" role="group"><div class="content-over-media content-over-media--sm" style="--content-over-media-content-max-width: 780px; --content-over-media-gradient-overlay: linear-gradient(180deg, rgba(54, 54, 54, 0.2), rgba(4, 4, 4, 0.65) 100%)"><picture><img alt="" fetchpriority="high" height="2160" loading="lazy" sizes="100vw" src="{{ 'h_euhv60ff.jpg?v=1707045945&width=3840' | asset_url }}" srcset="h_euhv.jpg?v=1707045945&width=300 300w, h_euhv.jpg?v=1707045945&width=400 400w, h_euhv.jpg?v=1707045945&width=500 500w, h_euhv.jpg?v=1707045945&width=600 600w, h_euhv.jpg?v=1707045945&width=700 700w, h_euhv.jpg?v=1707045945&width=800 800w, h_euhv.jpg?v=1707045945&width=900 900w, h_euhv.jpg?v=1707045945&width=1000 1000w, h_euhv.jpg?v=1707045945&width=1200 1200w, h_euhv.jpg?v=1707045945&width=1400 1400w, h_euhv.jpg?v=1707045945&width=1600 1600w, h_euhv.jpg?v=1707045945&width=1800 1800w, h_euhv.jpg?v=1707045945&width=2000 2000w, h_euhv.jpg?v=1707045945&width=2200 2200w, h_euhv.jpg?v=1707045945&width=2400 2400w, h_euhv.jpg?v=1707045945&width=2600 2600w, h_euhv.jpg?v=1707045945&width=2800 2800w, h_euhv.jpg?v=1707045945&width=3000 3000w, h_euhv.jpg?v=1707045945&width=3200 3200w" width="3840">
</picture><div class="slideshow__slide-content place-self-end-start text-start sm:place-self-end-start sm:text-start" style="--text-color: 255 255 255; color: rgb(var(--text-color));--border-color: var(--text-color) / 0.15;"><div class="prose"><p class="h6">BY PROFESSIONAL WATCHMAKERS
         </p><div class="button-group justify-start sm:justify-start"><a class="button button--outline" href="collections/configurator.html" style="--button-background: 255 255 255;--button-outline-color: 255 255 255;--button-text-color: 0 0 0;">DESIGN YOURS
          </a></div></div></div></div></div></slideshow-carousel> {% schema %} {"tag":"section","name":"section-4","class":"shopify-section shopify-section--slideshow","presets":[{"name":"section-4","category":"Liquify","blocks":[]}]} {% endschema %}