<div class="color-scheme color-scheme--scheme-1 color-scheme--bg-54922f2e920ba8346f6dc0fba343d673 section-spacing"><div class="container"><div class="shopify-block shopify-app-block" id="shopify-block-AZjFpTVlBTHBwTGlPZ__instafeed_app_block_rgj3rr"><style>div[id*="instafeed_app_block"] {
      width: 100%;
    }
    body #insta-feed {
        

        
        margin-bottom: 0px!important;
        

        

        

        
        text-align: center;
    }
       </style><div id="insta-feed"></div><script>if (typeof instafeedLocalTitle === 'undefined') var instafeedLocalTitle = "";
       </script></div></div></div> {% schema %} {"tag":"section","name":"section-14","class":"shopify-section shopify-section-group-footer-group shopify-section--apps","presets":[{"name":"section-14","category":"Liquify","blocks":[]}]} {% endschema %}