<style>#shopify-section-template--25934132674900__multiple_media_with_text_GdPKVF {
      --multiple-media-with-text-grid: "media-wrapper" "content-wrapper" / minmax(0, 1fr);
      --multiple-media-with-text-media-alignment-offset: 0px;
      --multiple-media-with-text-media-grid: auto var(--multiple-media-with-text-media-grid-auto-rows) / auto-flow var(--multiple-media-with-text-media-grid-auto-columns);
      --multiple-media-with-text-media-gap: 0;--multiple-media-with-text-media-grid-auto-rows:;
      --multiple-media-with-text-media-grid-auto-columns:minmax(0, 1.75fr) minmax(0, 0.8fr) minmax(0, 0.8fr);
    }

    @media screen and (min-width: 700px) {
      #shopify-section-template--25934132674900__multiple_media_with_text_GdPKVF {
        --multiple-media-with-text-media-alignment-offset: 0px;
        --multiple-media-with-text-media-gap: 0;--multiple-media-with-text-media-grid-auto-columns:minmax(0, 1.4fr) minmax(0, 0.35fr) minmax(0, 1.85fr);
      }
    }

    @media screen and (min-width: 1000px) {
      #shopify-section-template--25934132674900__multiple_media_with_text_GdPKVF {
        --multiple-media-with-text-grid: "content-wrapper media-wrapper" / minmax(0, 375px) minmax(0, 1fr);
      }
    }
    </style><div class="section-spacing color-scheme color-scheme--scheme-1 color-scheme--bg-54922f2e920ba8346f6dc0fba343d673"><div class="container container--md"><multiple-media-with-text class="multiple-media-with-text multiple-media-with-text--overlap multiple-media-with-text--reverse" reveal-on-scroll="true"><div class="multiple-media-with-text__media-wrapper"><div class="align-self-center" style="--media-rotate: 0deg; "><img alt="" height="2250" loading="lazy" sizes="(max-width: 699px) 50vw, 500px" src="{{ '26b3da.jpg?v=1722513877&width=2250' | asset_url }}" srcset="26.jpg?v=1722513877&width=200 200w, 26.jpg?v=1722513877&width=300 300w, 26.jpg?v=1722513877&width=400 400w, 26.jpg?v=1722513877&width=500 500w, 26.jpg?v=1722513877&width=600 600w, 26.jpg?v=1722513877&width=800 800w, 26.jpg?v=1722513877&width=1000 1000w, 26.jpg?v=1722513877&width=1200 1200w" width="2250">
</div><div class="align-self-center" style="--media-rotate: 0deg; "><img alt="" height="1500" loading="lazy" sizes="(max-width: 699px) 50vw, 500px" src="{{ '134a67.png?v=1722513628&width=1500' | asset_url }}" srcset="13.png?v=1722513628&width=200 200w, 13.png?v=1722513628&width=300 300w, 13.png?v=1722513628&width=400 400w, 13.png?v=1722513628&width=500 500w, 13.png?v=1722513628&width=600 600w, 13.png?v=1722513628&width=800 800w, 13.png?v=1722513628&width=1000 1000w, 13.png?v=1722513628&width=1200 1200w" width="1500">
</div></div><div class="multiple-media-with-text__content-wrapper align-self-center"><div class="prose"><p class="h6">Santeiko white
         </p><p class="h3">WATCH OF THE MONTH
         </p><p>The white Santeiko watch is a customer favorite, known for its unique and timeless design. Its square bezel and elegant dial offer a blend of style and function. The stainless steel bracelet adds durability and elegance. This watch isn't just stylish; it's a symbol of quality and innovation. With excellent build, the Seiko Mod Santos is perfect for daily wear and makes a bold statement. Investing in a Santeiko means owning a piece of luxury and reliability.
         </p><div class="button-group"><a class="button" href="products/seiko-mod-santos-white-25.html">VIEW MODEL
          </a></div></div></div></multiple-media-with-text></div></div> {% schema %} {"tag":"section","name":"section-12","class":"shopify-section shopify-section--multiple-media-with-text","presets":[{"name":"section-12","category":"Liquify","blocks":[]}]} {% endschema %}