{% comment %}Basic footer converted from static HTML{% endcomment %}
<footer class="site-footer">
  <div class="footer-menu">
    <ul>
      <li><a href="/pages/no-brand-affiliation">No Brand Affiliation</a></li>
      <li><a href="/apps/order-tracking">Tracking</a></li>
      <li><a href="/pages/moddys-custom-watches-warranty-policy">Warranty Policy</a></li>
      <li><a href="/pages/seiko-moddys-watch-care">Watch Care</a></li>
      <li><a href="/pages/policies">Policies</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <a href="https://www.facebook.com/SeikoModdysEU/" target="_blank" rel="noopener">Facebook</a>
    <a href="https://www.instagram.com/moddys.watch" target="_blank" rel="noopener">Instagram</a>
  </div>
</footer>
