{% comment %}Basic header converted from static HTML{% endcomment %}
<header class="site-header">
  <h1 class="site-logo"><a href="{{ shop.url }}">{{ shop.name }}</a></h1>
  <nav class="main-nav">
    <ul>
      <li><a href="/collections/all">Shop</a></li>
      <li><a href="/collections/configurator">Configurator</a></li>
      <li><a href="/blogs/news">News</a></li>
      <li><a href="/pages/policies">Policies</a></li>
    </ul>
  </nav>
</header>
