{% layout 'collection.configurator' %}
{% comment %}Generated from collections/configurator.html{% endcomment %}
<h1>{{ collection.title }}</h1>{% for product in collection.products %}
  <div><a href="{{ product.url }}">{{ product.title }}</a></div>{% endfor %}
