{% layout 'collection.shop-all2679' %}
{% comment %}Generated from collections/shop-all2679.html{% endcomment %}
<h1>{{ collection.title }}</h1>{% for product in collection.products %}
  <div><a href="{{ product.url }}">{{ product.title }}</a></div>{% endfor %}
